@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    font-family: 'Noto Sans TC';
}

html,
body {
    height: 100%;
    overflow: hidden;
    /* -webkit-overflow-scrolling: touch; */
    background: linear-gradient(45deg, rgba(48, 248, 145, 0.15) 0%, rgba(61, 146, 56, 0.04) 75%, rgba(96, 167, 48, 0) 100%);
}

.containerMain {
    background-size: cover;
    width: 100%;
    background-image: url(../img/bkg3.png);
    height: 100%;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    width: 100%;
    text-align: center;
    margin: auto;
    font-weight: 800;
    font-family: 'Changa One', cursive;
}

.logo {
    width: 50%;

}

.eventTitle {
    width: 60%;
}


.pointChart {
    margin-top: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


border: 1px solid rgba(238,
238,
238,
0.1);

box-shadow: 0 25px 50px rgba(0,
0,
0,
.1);
border-radius: 7px;
z-index: 1;
overflow: hidden;
padding-top: 40px;


.L1 {
    background: url(../img/logo/C1.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(238, 238, 238, 0.5) 100%);
}

.L1:hover {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px double;
    border-top: 1px double;
    border-color: #3aac94;
}

.L2 {
    background: url(../img/logo/T2.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(238, 238, 238, 0.5) 100%);
}

.L2:hover {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px double;
    border-top: 1px double;
    border-color: #DDDDDD;
}

.L3 {
    background: url(../img/logo/D3.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(238, 238, 238, 0.5) 100%);
}

.L3:hover {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px double;
    border-top: 1px double;
    border-color: #58839b;
}

.L4 {
    background: url(../img/logo/D4.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(238, 238, 238, 0.5) 100%);
}

.L4:hover {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px double;
    border-top: 1px double;
    border-color: #00a2ca;
}

.L5 {
    background: url(../img/logo/D5.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(238, 238, 238, 0.5) 100%);
}

.L5:hover {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px double;
    border-top: 1px double;
    border-color: #7f7f80;
}

.L6 {
    background: url(../img/logo/G6.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(238, 238, 238, 0.5) 100%);
}

.L6:hover {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px double;
    border-top: 1px double;
    border-color: #b71c26;
}

.L7 {
    background: url(../img/logo/G7.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(238, 238, 238, 0.5) 100%);
}

.L7:hover {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px double;
    border-top: 1px double;
    border-color: #224a95;
}

.L8 {
    background: url(../img/logo/G8.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(238, 238, 238, 0.5) 100%);
}

.L8:hover {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px double;
    border-top: 1px double;
    border-color: #e8702a;
}

.L9 {
    background: url(../img/logo/G9.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(238, 238, 238, 0.5) 100%);
}

.L9:hover {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px double;
    border-top: 1px double;
    border-color: #221715;
}

.L10 {
    background: url(../img/logo/G10.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(238, 238, 238, 0.5) 100%);
}

.L10:hover {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px double;
    border-top: 1px double;
    border-color: #58839b;
}

.L11 {
    background: url(../img/logo/G11.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(238, 238, 238, 0.5) 100%);
}

.L11:hover {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px double;
    border-top: 1px double;
    border-color: #83cae9;
}

.L12 {
    background: url(../img/logo/G12.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(238, 238, 238, 0.5) 100%);
}

.L12:hover {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px double;
    border-top: 1px double;
    border-color: #ea562a;
}

.L13 {
    background: url(../img/logo/G13.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(238, 238, 238, 0.5) 100%);

}

.L13:hover {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px double;
    border-top: 1px double;
    border-color: #58839b;
}


.pointStamp {
    opacity: 0.5;
    width: 23%;
    padding-bottom: 12%;
    margin: 1%;
    float: left;
    background-size: contain;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(132, 156, 127, 1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(132, 156, 127, 1);
    box-shadow: 1px 1px 5px 1px rgba(132, 156, 127, 1);
    background-repeat: no-repeat;
    background-position: center center;
    /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
}

.pointStamp:hover {
    opacity: 1;
    filter: grayscale(0%)
}

@media (max-width: 497px) {
    .banner {
        width: 100%;
    }
    .pointStamp {
        width: 48%;
        padding-bottom: 30%;
        margin: 1%;
        background-size: contain;
    }
}

@media (min-width: 480px) {
    .banner {
        width: 90%;
    }
    .pointStamp {
        width: 28%;
        padding-bottom: 18%;
        margin: 2%;
        background-size: contain;
    }
}


@media (min-width: 768px) {

    .banner {
        width: 60%;
    }
    .pointStamp {
        width: 23%;
        padding-bottom: 15%;
        margin: 1%;
        background-size: contain;
    }
}




@media (min-width: 960px) {

    .banner {
        width: 70%;
    }

    .pointStamp {
        width: 14%;
        padding-bottom: 10%;
        margin: 1%;
        background-size: contain;
    }
}


@media (min-width: 1200px) {


    .banner {
        width: 30%;
    }

}
